<div class="title">
	<div class="logo">
	<span class="gold">Leader</span>Board
	</div>
	<div class="organization">
		<div class="name">
			<img *ngIf="checkImage(orgImage)" [src]="orgImage" />
			<img *ngIf="!checkImage(orgImage)" src="images/note-plus.png" class="note-plus" />

			<span>{{org == "undefined" ? "Welcome!" : org}}</span>

		</div>
		<div class="search">
			<img src="images/magnify.png">
			<input #input (click)="changeShow()" type="text" placeholder="Search/Create Organization..." 
			(input)="filterOrg(input.value)">
			<app-dropdown [show]="showResults" [criteria]="filter" [results]="orgs"></app-dropdown>
		</div>
	</div>
</div>